<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
   <h1>cursos</h1> 
   <a href="{% url 'curso_cadastrar' %}">Cadastrar</a>
   <p>Listagem de cursos:</p>

   {%for curso in cursos%}
   <p>Título:{{curso.titulo}} Vagas: {{curso.vagas}}</p>
   {%empty%}
   <p>Não existem cursos cadastrados</p>
   {%endfor%}
</body>
</html>